<ons-page ng-controller="detailDescController">
  
   <ons-toolbar>
      <div class="left">
         <ons-back-button>Back</ons-back-button>
      </div>
      <div class="center"></div>
   </ons-toolbar>

   <ul class="list">
      <li class="list__header__thin"></li>
      <li class="list__header"><span style="font-weight: 500;font-size: 22px;">{{tmdbData.title}}</span><span style="opacity: 0.4; font-size: 14px;"> ({{tmdbData.release_date| limitTo:4}})</span></li>
      <li class="list__header"><span style="border:1px grey solid; border-radius: 3px; width:fit-content; width:-webkit-fit-content; width:-moz-fit-content; opacity: 0.4; font-size: 14px;"></span>
         <span style="opacity: 0.4; font-size: 14px;" >  
         </span>
         <span style="opacity: 0.4; font-size: 14px;" ng-repeat="genre in tmdbData.genres" >
         {{genre.name}}{{$last ? '' : ($index==genre.length-2) ? ',' : ','}}
         </span>
      </li>
      <li class="list__header__thin"></li>
   </ul>
   <ons-list>
   <div class="poster-desc" ng-click="gotoDescDetails(tmdbData)">
      <div class="list-item-left-more" ng-click="gotoMovieMaxPic(tmdbData.backdrop_path)">
        <div class="br-thin"></div>

      </div>
      <span class="overview" >
      {{tmdbData.overview}}

      </span>
</div>
   <style>
      .list-item-container {
      line-height: 1;
      font-size: 16px;
      padding: 15px 0px 15px 15px;
      }

      .list-item-right {
      width: 60%;
      /*float: right;*/
      }
      .timeline-message {
      margin-top: 4px;
      font-size: 14px;
      opacity: 0.8;
      line-height: 1.15;
      }
      .timeline-date {
      float: right;
      font-size: 12px;
      opacity: 0.35;
      }
      .name {
      font-weight: 500;
      line-height: 16px;
      font-size: 15px;
      margin-bottom: 6px;
      }
            .br-thin {
      display: block;
      margin: 4px 0;
      }
      .img-poster{
          float: left;
        padding-top: 1px;
    padding-right: 8px;
    padding-bottom: 0px;
    padding-left: 2px;
    
      }
      .overview{
          font-size: 20px;

          text-align:left;
      }
      .poster-desc{
                   font-size: 15px;
        padding-top: 1px;
    padding-right: 8px;
    padding-bottom: 0px;
    padding-left: 2px;
          text-align:justify;
      }
            .list-item-left-more {
      width: 30%;
      margin-right: -90px;
      /*float: left;*/
      clear: both;
        -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
      }
.list-item-left-more:active {
  background-color: #d9d9d9;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
   </style>
</ons-page>